# Build
/build/
/cmake-build-*/
/out/

# CMake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json

# Binaries
*.o
*.obj
*.a
*.so
*.so.*
*.dll
*.dylib
*.exe

# Editors / IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
